body {
  background-image: url("Cream and Brown Simple Creative Portfolio Presentation.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  background-position: center top;  
  background-color: #ffeded;
  font-family: fantasy;
  
}
  
.title { 

  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.navbar a {
  float: left;
  color: black;
  text-align: center;
  padding: 13px 14px;
  text-decoration: none;
  font-size: 17px;
  background-color: #fac288;
  border-radius: 15px;
  margin: 10px;

}

/* Change the color of links on hover */
.navbar a:hover {
  background-color: #e2e4d1;
  color: black;
}

/* Add a color to the active/current link */
.navbar a.active {
  background-color: #04AA6D;
  color: white;
}

.navbar {
  display: flex;
  flex-direction: row;
  
  padding-left: 10%;
  padding-top: 20%;
}



.mainpage {
	display: block;
	width: 100%;
	max-width: 50em;
	margin: auto;
	border: 0;
	animation: fadeIn 5s forwards;
}
@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}  